<!doctype html>
<html lang="{% if lang == "de" %}de-de{% else %}en-us{% endif %}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Nowhere</title>
    <meta name="description" content="Project Nowhere by Anna Meyer.">
    <meta name="author"
          content="Anna Meyer | http://www.sayhellotoanna.com/ &amp; Markus Tacker | http://coderbyheart.de/">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/helpers.css">
    <link rel="stylesheet" href="/css/media.css">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<nav id="topnav" class="desktop">
    <ul>
        <li class="col1 left"><a href="/{{ lang }}/about" {% if navactive == "about" %}class="active"{% endif %}>About</a></li>
        <li class="col1 center">
            <a href="/" class="icon grid {% if navactive == "stones" %}active{% endif %}" title="Grid view" rel="bookmark"></a>
            <a href="/{{ lang }}/stones/list" class="icon list {% if navactive == "stones-list" %}active{% endif %}" title="List view"></a>
        </li>
        <li class="col2">&nbsp;</li>
        <li class="col1 center"><a href="/{% if lang == "en" %}de{% endif %}" hreflang="{% if lang == "en" %}de-de{% else %}en-us{% endif %}">{% if lang == "en" %}DE{% else %}EN{% endif %}</a></li>
        <li class="col1 right"><a href="/{{ lang }}/participate" {% if navactive == "participate" %}class="active"{% endif %}>Participate</a></li>
    </ul>
</nav>
<nav id="footernav" class="desktop">
    <ul>
        <li class="col1"><a href="/{{ lang }}/news" {% if navactive == "news" %}class="active"{% endif %}>News</a></li>
        <li class="col2"><a href="/{{ lang }}/contact" {% if navactive == "contact" %}class="active"{% endif %}>Contact</a></li>
    </ul>
</nav>
<nav id="mobilenav" class="mobile">
    <ul>
        <li><a href="/" rel="bookmark" {% if navactive == "stones" %}class="active"{% endif %}>Stones</a></li>
        <li><a href="/{{ lang }}/places" {% if navactive == "places" %}class="active"{% endif %}>Places</a></li>
        <li><a href="/{{ lang }}/about" {% if navactive == "about" %}class="active"{% endif %}>About</a></li>
        <li><a href="/{% if lang == "en" %}de{% endif %}" hreflang="{% if lang == "en" %}de-de{% else %}en-us{% endif %}">{% if lang == "en" %}DE{% else %}EN{% endif %}</a></li>
        <li><a href="/{{ lang }}/contact" {% if navactive == "contact" %}class="active"{% endif %}>Contact</a></li>
    </ul>
</nav>
<aside id="left" class="desktop">
    <h2><a href="/" {% if navactive == "stones" %}class="active"{% endif %}>Stones</a></h2>
</aside>
<aside id="right" class="desktop">
    <h2><a href="/{{ lang }}/places" {% if navactive == "places" %}class="active"{% endif %}>Places</a></h2>
</aside>
{% block body %}{% endblock %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
<script src="/js/libs/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/js/libs/jquery.mousewheel.js"></script>
<!-- scripts concatenated and minified via ant build script-->
<script src="/js/plugins.js"></script>
<script src="/js/script.js"></script>
<!-- end scripts-->
<!--[if lt IE 7 ]>
<script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
<script>window.attachEvent("onload", function () {
    CFInstall.check({mode:"overlay"})
})</script>
<![endif]-->
</body>
</html>
