{% extends "base.twig" %}
{% set locality = stone.locality %}
{% set country = stone.country %}
{% set person = stone.person %}
{% block body %}
<div id="main">
    <div id="stone">
        <div class="coordinates notooltips">
            <div class="wrapper link link-stones-or-places">
                <a href="http://maps.google.com/?ll={{ stone.latc }},{{ stone.lngc }}&amp;spn=0.1,0.1&amp;q={{ stone.latc }},{{ stone.lngc }}"
                   title="{% trans %}Show this place ({{ locality }} in {{ country }}) in Google Maps.{% endtrans %}"
                   class="coordinates hover external">
                    <span class="hover-parent textimage textimage-coordinates-large">{{ stone.lat }}</span><br/>
                    <span class="hover-parent textimage textimage-coordinates-large">{{ stone.lng }}</span>
                </a>
            </div>
        </div>
        <img src="/media/stones/{{ stone.number }}-place-2048.jpg"
             alt="{% trans %}{{ locality }} in {{ country }} where {{ person }} found this stone.{% endtrans %}"
             width="{{ stone.width }}" height="{{ stone.height }}" class="resize"/>
    </div>
</div>
{% endblock %}