{% extends "base.twig" %}
{% block body %}
<div id="main">
    {% for stone in stones %}
    {% if loop.first %}
    <ul id="coordsgrid" class="draggrid tooltips">
        {% endif %}
        {% set locality = stone.locality %}
        {% set country = stone.country %}
        {% set person = stone.person %}
        <li>
            <a href="/{{ lang }}/stone/{{ stone.number }}"
               title="{% trans %}Coordinates in {{ locality }}, {{ country }} where {{ person }} found a stone.{% endtrans %}">
                <span class="textimage textimage-coordinates">{{ stone.lat }}</span><br/>
                <span class="textimage textimage-coordinates">{{ stone.lng }}</span>
            </a>
        </li>
        {% if loop.last %}
    </ul>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}