{% extends "base.twig" %}
{% block content %}
    {% for stone in stones %}
        {% if loop.first %}
        <ul id="stonesgrid">
        {% endif %}
            <li>
                <a href="/stone/{{ stone.number }}" title="Stone found by {{ stone.person }} in {{ stone.locality }}, {{ stone.country }}"><img src="/media/stones/{{ stone.number }}-stone-150.png" alt="Stone found by {{ stone.person }} in {{ stone.locality }}, {{ stone.country }}" /></a>
            </li>
        {% if loop.last %}
        </ul>
        {% endif %}
    {% endfor %}
{% endblock content %}