{% extends "base.twig" %}
{% block body %}
<header id="master" class="desktop">
    <h1>Nowhere</h1>
</header>
<div id="main">
    <div id="stone">
        <a href="/{{ lang }}/stone/{{ stone.number }}/coordinates" title="Go to the coordinates in {{ stone.locality }}, {{ stone.country }} where {{ stone.person }} found this stone.">
            <img src="/media/stones/{{ stone.number }}-place-1024.jpg" alt="{{ stone.locality }} in {{ stone.country }} where {{ stone.person }} found this stone."/>
        </a>
    </div>
</div>
{% from 'macros.twig' import coordlink %}
{{ coordlink(lang, navactive) }}
{% endblock %}