{% extends "base.twig" %}
{% block content %}
<div id="stone">
    <a href="/stone/{{ stone.number }}/place" title="Got to {{ stone.locality }} in {{ stone.country }} where {{ stone.person }} found this stone.">
        <img src="/media/stones/{{ stone.number }}-stone-1024.png" alt="Stone found by {{ stone.person }} in {{ stone.locality }}, {{ stone.country }}"/>
    </a>
</div>
{% endblock content %}
