{% extends "base.twig" %}
{% block body %}
<header id="master" class="desktop">
    <h1 class="textimage">Nowhere</h1>
</header>
<div id="main">
    {% for stone in stones %}
    {% if loop.first %}
    <ul id="stonesgrid" class="draggrid">
        {% endif %}
        {% set name = stone.person %}
        {% set locality = stone.locality %}
        {% set country = stone.country %}
        <li>
            <a href="/{{ lang }}/stone/{{ stone.number }}"
               title="{% trans %}Stone found by {{ name }} in {{ locality }}, {{ country }}.{% endtrans %}"
                    ><img
                    src="/media/stones/{{ stone.number }}-stone-150.png"
                    alt="{% trans %}Stone found by {{ name }} in {{ locality }}, {{ country }}.{% endtrans %}"
                    /></a>
        </li>
        {% if loop.last %}
    </ul>
    {% endif %}
    {% endfor %}
</div>
{% from 'macros.twig' import coordlink %}
{{ coordlink(lang, navactive) }}
{% endblock body %}