{% extends "base.twig" %}
{% set locality = stone.locality %}
{% set country = stone.country %}
{% set person = stone.person %}
{% block body %}
<div id="main">
    <div id="stone" class="notooltips">
        <a href="/{{ lang }}/stone/{{ stone.number }}/place"
           title="{% trans %}Go to {{ locality }} in {{ country }} where {{ person }} found this stone.{% endtrans %}">
            <img src="/media/stones/{{ stone.number }}-stone-2048.png"
                 alt="{% trans %}Stone found by {{ person }} in {{ locality }}, {{ country }}.{% endtrans %}" width="2048" height="2048" class="resize" />
        </a>
    </div>
</div>
{% endblock %}
