{% extends "base.twig" %}
{% block body %}
<header id="master" class="desktop">
    <h1>Nowhere</h1>
</header>
<div id="main">
    <div id="stone">
        <a href="/{{ lang }}/stone/{{ stone.number }}/place"
           title="Got to {{ stone.locality }} in {{ stone.country }} where {{ stone.person }} found this stone.">
            <img src="/media/stones/{{ stone.number }}-stone-1024.png"
                 alt="Stone found by {{ stone.person }} in {{ stone.locality }}, {{ stone.country }}" width="1024" height="1024" />
        </a>
    </div>
</div>
{% from 'macros.twig' import coordlink %}
{{ coordlink(lang, navactive) }}
{% endblock %}
