{% extends "base.twig" %}
{% block body %}
<header class="master">
    <h1 class="textimage">Nowhere</h1>
</header>
{% for stone in stones %}
{% if loop.first %}
<table>
    <thead>
    <tr>
        <th><a class="textimage textimage-listing-small" href="?sort=no">{% trans %}No.{% endtrans %}</a></th>
        <th><a class="textimage textimage-listing-small" href="?sort=country">{% trans %}Country{% endtrans %}</a></th>
        <th><a class="textimage textimage-listing-small" href="?sort=city">{% trans %}City{% endtrans %}</a></th>
        <th><a class="textimage textimage-listing-small" href="?sort=name">{% trans %}Name{% endtrans %}</a></th>
        <th colspan="2"><a class="textimage textimage-listing-small" href="?sort=coordinates">{% trans %}Coordinates{% endtrans %}</a></th>
    </tr>
    </thead>
    <tbody>
    {% endif %}

    <tr class="hover">
        <td><a href="/{{ lang }}/stone/{{ stone.number }}" class="hover-parent textimage textimage-listing">{{ stone.number }}</a></td>
        <td><a href="/{{ lang }}/stone/{{ stone.number }}" class="hover-parent textimage textimage-listing">{{ stone.country }}</a></td>
        <td><a href="/{{ lang }}/stone/{{ stone.number }}" class="hover-parent textimage textimage-listing">{{ stone.locality }}</a></td>
        <td><a href="/{{ lang }}/stone/{{ stone.number }}" class="hover-parent textimage textimage-listing">{{ stone.person }}</a></td>
        <td><a href="/{{ lang }}/stone/{{ stone.number }}" class="hover-parent textimage textimage-listing">{{ stone.lat }}</a></td>
        <td><a href="/{{ lang }}/stone/{{ stone.number }}" class="hover-parent textimage textimage-listing">{{ stone.lng }}</a></td>
    </tr>

    {% if loop.last %}
    </tbody>
</table>
{% endif %}
{% else %}
<p>No stones found.</p>
{% endfor %}
{% endblock %}
