{% extends "base.twig" %}
{% block body %}
<header id="master" class="desktop">
    <h1 class="textimage">Nowhere</h1>
</header>
<div id="main">
    {% for stone in stones %}
    {% if loop.first %}
    <ul id="stonesgrid" class="draggrid">
        {% endif %}
        <li>
            <a href="/{{ lang }}/stone/{{ stone.number }}"
               title="Stone found by {{ stone.person }} in {{ stone.locality }}, {{ stone.country }}"><img
                    src="/media/stones/{{ stone.number }}-stone-150.png"
                    alt="Stone found by {{ stone.person }} in {{ stone.locality }}, {{ stone.country }}"
                    /></a>
        </li>
        {% if loop.last %}
    </ul>
    {% endif %}
    {% endfor %}
</div>
{% from 'macros.twig' import coordlink %}
{{ coordlink(lang, navactive) }}
{% endblock body %}