{% extends "base.twig" %}
{% block body %}
<div id="main">
    {% for stone in stones %}
    {% if loop.first %}
    <ul id="stonesgrid" class="draggrid">
        {% endif %}
        {% set person = stone.person %}
        {% set locality = stone.locality %}
        {% set country = stone.country %}
        <li>
            <a href="/{{ lang }}/stone/{{ stone.number }}"
               title="{% trans %}Stone found by {{ person }}{% endtrans %}"
                    ><img
                    src="/media/stones/{{ stone.number }}-stone-150.png"
                    alt="{% trans %}Stone found by {{ person }}{% endtrans %}"
                    /></a>
        </li>
        {% if loop.last %}
    </ul>
    {% endif %}
    {% endfor %}
</div>
{% endblock body %}
